# binary
bin/

# coverage
coverage.*
coverage.html
test.http

# build  doc files
build
public

.vscode/*
*.code-workspace
# Local History for Visual Studio Code
.history/
# User-specific stuff
.idea/*

# we do not commit any logs
*.log
# data folder excluded
data
